
@using ApiWeb.Helpers.MvcHtml
@{
    var fraseDelDia = Session["frase"] == null ? "¡Life is Wonderfull!" : Session["frase"].ToString();
    var version = @Html.CurrentVersion();
}
<div style="padding-top: 10px; padding-bottom: 5px; color: #333333;">
    <p>
        <span>
            Todos los Derechos Reservados. Copyright &copy; @DateTime.Now.Year - UIBASOFT  <br /> <span style="font-weight: bold">
                Version: <a class="danger" data-placement="above" data-toggle="modal" data-target="#modal-ver-api" href="#" title='Versiones '>@version</a>
            </span>
        </span>
    </p>
</div>

<div class="modal fade" id="modal-ver-api" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Publicaciones API Versiones</h4>
            </div>
            <div class="modal-body">
                <h3 style="padding: 4px; font-size: 11pt; text-align: right">
                    <span style="color: #afa7a7">2017-05-01</span> <strong style="color: #666666">Versión @version</strong>
                </h3>
                <ul style="font-size: 12px; text-align: left">
                    <li>Creación y definición base de arquitectura de proyectos.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
