@{
    ViewBag.Title = "Home";
}
<div id="info-principal" style="padding-left: 30%; padding-right: 30%">
    <section class="featured">
        <div>
            <hgroup>
                <h3>¡Web API [Componente]!</h3>
                <h5>[Empresa] Web API [Componente] es un componente de servicios públicos que permite gestionar procesos internos.</h5>
            </hgroup>
            <p>
                Web API [Componente] expone datos y servicios en la Web directamente a través de HTTP.
            </p>
            <p>
                Para obtener más información contácta con: <br /> <a style="font-size: 12px" href="https://about.me/uialberto" target="_blank">Luis Alberto Baigorria Rodas</a>
            </p>
        </div>
    </section>
</div>

